files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02inject_dockerfile.sh":
    mode: "000755"
    content: |
      #!/bin/bash
      set -e

      . /opt/elasticbeanstalk/hooks/common.sh

      EB_CONFIG_APP_CURRENT=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      cd $EB_CONFIG_APP_CURRENT
      echo "ENV HOSTNAME \"`curl -s http://169.254.169.254/latest/meta-data/local-ipv4`\"" >> Dockerfile
