files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/02setup_iptables.sh":
    mode: "000755"
    content: |
      #!/bin/bash
      set -e

      . /opt/elasticbeanstalk/hooks/common.sh

      EB_CONFIG_DOCKER_CURRENT_HASH=$(cat /etc/elasticbeanstalk/.aws_beanstalk.current-container-id | cut -c 1-12)
      EB_CONFIG_DOCKER_CURRENT_IP=$(docker inspect ${EB_CONFIG_DOCKER_CURRENT_HASH} | jq -r .[0].NetworkSettings.IPAddress)

      # remove rules added by us (marked by the "added_by_ebextension" comment), if any
      iptables-save | grep -v added_by_ebextension | iptables-restore

      # add our rule with the "added_by_ebextension" as a special marker
      iptables -t nat -A DOCKER -p tcp --dport 2181 -j DNAT --to-destination ${EB_CONFIG_DOCKER_CURRENT_IP}:2181 -m comment --comment added_by_ebextension
      iptables -t nat -A DOCKER -p tcp --dport 2888 -j DNAT --to-destination ${EB_CONFIG_DOCKER_CURRENT_IP}:2888 -m comment --comment added_by_ebextension
      iptables -t nat -A DOCKER -p tcp --dport 3888 -j DNAT --to-destination ${EB_CONFIG_DOCKER_CURRENT_IP}:3888 -m comment --comment added_by_ebextension
      iptables -t nat -A DOCKER -p tcp --dport 8181 -j DNAT --to-destination ${EB_CONFIG_DOCKER_CURRENT_IP}:8181 -m comment --comment added_by_ebextension

      # save in case of reboot
      service iptables save
